{% extends 'base.html' %}
{% block content %}
    <div class="container is-widescreen is-light is-bold">
        <div class="notification">
            <h2 class="has-text-centered">About</h2>
            <p class="has-text-centered">
                Virtual pet logger is an application that allows pet business and owners to keep a log of all their pets.
                Once logged in each user has a dashboard where the will be able to create a record of their pets type (dog, cat,
                bird, fish, critter, reptile), name, and description. Virtual pet logger is a very useful application for those who
                have multiple pets and want to have some way to organize them.
            </p>
        </div>
    </div>
{% endblock %}
